.checkbox {
  position: fixed;
  left:1px;
  bottom:1px;
  padding-left:8px;
  display: block;
  width: 45px;
  height: 30px;
  background-color:#f00;
  font-size:23px;
  color:white;
  border-radius:0px;
}
.switch input {display:none;}

.switch input:checked + .checkbox{
	background-color:#0b0;
}