.slidecontainer {
	position:fixed;
    width: 100%;
	margin-left:3%;
	margin-top:25%;
}


#right_slidecontainer{	
	position:fixed;
    width: 100%;
	margin-left:50%;
	margin-top:25%;

}

.slider {
    -webkit-appearance: none;
    width: 45%;
    height: 25px;
    background: #222;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .001s;
    transition: opacity .2s;
	border-radius:10px;
}
.slider:hover {
    opacity: 1
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 150px;
    background: #4CAF50;
    cursor: pointer;
	border-radius:50%;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}


input[type="range"] {
   transform: rotate(270deg);
}

#outvalue{
	position:fixed;
	margin-top:25%;
	margin-left:-23%;
}
#outvalue2{
	position:fixed;
	margin-top:25%;
	margin-left:-23%;
